<apex:page standardController="Lead" standardstylesheets="false" showheader="false" sidebar="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0">
     <c:DoNotDisplayPage />
      <c:SMS_Conversation_Component />
 </apex:page>