<apex:page controller="tdc_tsw.IncomingAlert" showHeader="false" sidebar="false" applyBodyTag="false" standardStylesheets="true" docType="html-5.0">
<html>
    <head>
    
    </head>
    <body>
            <c:SMSReview_Component /> 
            <c:DoNotDisplayPage />
            <c:DoNotDisplayFeatureComp test="Incoming Sidebar"/>
            <c:Incoming_Alert_Component />
            <c:copyrightmsg />
    </body>
</html>
</apex:page>