<apex:page id="pageID" standardController="Contact"  extensions="tdc_tsw.SendBulkSMSCOLightning" recordSetVar="testRecords" docType="html-5.0" standardStylesheets="false" sidebar="false" showHeader="false">
    <script> 
        var ids = '{!JSENCODE(ids)}';
        var returnUrl = '{!JSENCODE(returnUrl)}';
        var parentId = '{!JSENCODE($CurrentPage.parameters.Id)}';
        var retrnurl = '{!JSENCODE(redirectURL)}';
        if(returnUrl != '' && returnUrl != null && parentId != '' && parentId != null)
        {
            window.location.href = "/apex/tdc_tsw__SendBulkSMS_SLDS?ids="+ids+"&parentId="+parentId+"&retURL="+returnUrl+"&redirectURL="+retrnurl;
        }
        else if( returnUrl != '' && returnUrl != null)
        {
            window.location.href = "/apex/tdc_tsw__SendBulkSMS_SLDS?ids="+ids+"&retURL="+returnUrl;  
        }
      
    </script>
    
</apex:page>