<apex:page controller="tdc_tsw.SendSmsFromChatter" >
    <head>
    
    <link href = "{!URLFOR($Resource.SMS_APP_Resource, '/css/emojionearea.min.css')}" rel = "stylesheet"/>
    <script src="{!URLFOR($Resource.SMS_APP_Resource, '/js/jquery-1.12.4.js')}"></script>
    <script src="{!URLFOR($Resource.SMS_APP_Resource, '/js/jquery-ui.js')}"></script>
    <script src = "{!URLFOR($Resource.SMS_APP_Resource, '/js/emojionearea.js')}"></script>
    
    <link href="{!URLFOR($Resource.resource_sms_file, '/emoji/css/emoji.css')}" rel="stylesheet"/>
        <script src="{!URLFOR($Resource.resource_sms_file, '/emoji/js/EmojiResourcePackage.js')}"></script>
    
    <style>
        .emoji-picker-icon {
            bottom: 75px;
            top: auto;  
        }
        
        
        
        .message {
            background-color: #ffc;
            border-style: solid;
            border-width: 1px;
            color: #000;
            padding: 3px 8px 3px 6px;
            margin: 4px 57px 4px 0px;
        }
        .textarea-field{
            width:427px;
            height:100%;
            border-radius:6px;
            border:1px solid #ccc; 
            resize: none; 
            padding: 5px 5px 0px; 
            font-style: italic;
            background: rgb(255, 255, 204) none repeat scroll 0% 0%;
            margin:8px 0px;
        }
        
        .emoji-picker-icon img{
            width: 16px;
            margin-top: 23px;
            margin-left: -79px;
        }
        .emoji-wysiwyg-editor{
            height: 100px !important;
            margin-bottom:0 !important;
        }
        
        .emoji-menu {
            margin-top: -129px !important;
            margin-right: 4rem;
        }
        
        .emoji-menu .emoji-items-wrap {
            height: 75px;
            overflow: scroll;
            overflow-x: hidden;
            top: -5px;
        }
        .emoji-items-wrap1 .emoji-menu-tabs{
             margin-top: 0 !important;
             margin-bottom: 0 !important;
        }
        .emoji-items-wrap1{
            padding-top: 0px;
            padding-bottom: 0;
        }
        
        .segmentId{
            padding: 4px 0px 0px;
        }
        .copyrightCls span span.margintop{
            top: 94% !important;
        }
        
         .emoji-menu .emoji-items a{
              padding: 3.5px !important;
          }
          .emoji-menu .emoji-items-wrap{
              overflow: auto !important;
          }
    </style>
    
   </head> 
   <body>
    <apex:form id="formId">
      <script>
       
          function emojicall(){
                    window.emojiPicker = new EmojiPicker({
                      emojiable_selector: '[data-emojiable=true]',
                      assetsPath: "{!URLFOR($Resource.tdc_tsw__Emoji_resource, '/emoji-picker-master/lib/img')}",
                      popupButtonClasses: ''
                    });
                    window.emojiPicker.discover();
                    var wurl ='{!$Site.CurrentSiteUrl}';
                    if(wurl !=''){
                          var  faviconResource=wurl+'resource/tdc_tsw__resource_sms_file/emoji/favicon.png';
                          $('.emoji-picker img').attr('src', faviconResource);
                     }
               }
       
            
              $(function() {
                        emojicall();
              });
               
            /**************character count script************************/
            function jsfun1(){
                  var currelmvalue = $(".myText").val();
                  var isTrue = isGSMAlphabet(currelmvalue);
                  var segment = 1;
                  var nonGsmLength = currelmvalue.length;
                  var strLength = currelmvalue.length + count(currelmvalue,'{') + count(currelmvalue,'}') + count(currelmvalue,'[') + count(currelmvalue,']');
                  if(isTrue){
                       if(strLength <= 160){
                         segment = 1;
                       }else{
                            if(strLength % 153 == 0)
                                segment = (strLength/153);
                            else
                               segment = (strLength/153)+1;
                        }
                  }else{
                     if(nonGsmLength <= 70){
                         segment = 1;
                       }else{
                          if(nonGsmLength%67 == 0)
                              segment = (nonGsmLength/67);
                          else
                              segment = (nonGsmLength/67)+1;
                          }       
                  }       
                 if(nonGsmLength == 0){
                      segment = 0;
                  }
                var numberOfCharacters = nonGsmLength;
                    var segmentID = $(".segmentId");
                    if (numberOfCharacters == 1) {
                         segmentID.text(nonGsmLength+' Character / '+parseInt(segment,10)+' Segment');
                    } else if (numberOfCharacters == 0) {
                        segmentID.text('You Can Enter Up To 1000 Characters');
                    } else {
                        segmentID.text(nonGsmLength+' Characters / '+parseInt(segment,10)+' Segment');
                    }
            }
        function isGSMAlphabet(text) {
            //alert(text);
            var regexp = new RegExp("^[A-Za-z0-9 @!\"#$%&'`()*+,_\\-./:;<=>?^{}\\\\\\[~\\]|\\r\\n]*$");
            //alert(regexp.test(text)) ;
            return regexp.test(text);
            
        }  
        
        function count(text , c) { 
          var result = 0, i = 0;
          for(i;i<text.length;i++)
          {
              if(text[i]==c)
                result++;
          }     
          //alert('=====result:'+result);
          return result;
          
        }
    </script>   
    
      <c:DoNotDisplayPage />
      <b style="color:blue"><I>{!title}</I></b>
      <apex:commandButton value="Send" action="{!send}"  reRender="msgrefresh" style="float:right"/> <br/>     
      <apex:inputTextarea value="{!message}" html-data-emoji-input="unicode" html-data-emojiable="true" styleClass="textarea-field abc myText"  html-maxlength="1000" /> 
       <div class="segmentId">You Can Enter Up To 1000 Characters</div>
        <script>
             emojicall();
             jsfun1();
             
             
         </script>
      <apex:outputPanel id="msgrefresh">
          <apex:pageMessages />
          <script>
              if($('.message').hasClass('infoM3')){
                  $('.copyrightCls span span').addClass('margintop');
              }else {
                  $('.copyrightCls span span').removeClass('margintop');
              }
          </script>
      </apex:outputPanel>
      
        
      <div class="copyrightCls">
        <c:copyrightmsg />
      </div>
      
    </apex:form>  
    
   </body>
</apex:page>