<apex:page controller="tdc_tsw.IncomingAlert" showHeader="false" sidebar="false" applyBodyTag="false" standardStylesheets="true">
    <c:SMSReview_Component />
    <c:DoNotDisplayPage />
    <c:DoNotDisplayFeatureComp test="Incoming Sidebar"/>
    <c:Incoming_Alert_Slds_Component />
    <apex:outputpanel style="display: block;width: 100%;text-align: center;" >
    <c:copyrightmsg />
    </apex:outputpanel>
</apex:page>